*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Open Sans,Trebuchet,Helvetica,sans-serif;
}

/* ---------- navbar ---------- */
.nav-link{
    /* color: white; */
    text-decoration: none;
}

/* .nav-link:hover{
    background-color: white;
    color:darkred;
    border: white;
} */

.btn-danger{
    border-radius: inherit;
    font-size: 1rem;
    height: 3.5rem;
}

.btn-danger:hover{
    color: darkred;
    background-color: transparent;
    border-color: transparent;
}

.favorites__icon{
    color: #757575;
    margin-left: 0.5rem;
}
.favorites__icon:hover{
    color: black;
}

.user__icon{
    color: #757575;
    margin-left: 3rem;
}
.user__icon:hover{
    color: black;
}
/* ---------- end navbar ---------- */

.container{
    display: flex;
    flex-wrap: wrap;
}

/* ---------- breadcrumb ---------- */
.breadcrumb{
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.breadcrumb-item a{
    color: #0269ae;
    font-size: 0.8rem;
    text-decoration: none;
}
/* ---------- end breadcrumb ---------- */


/* ---------- web title ---------- */
.container__title{   
    margin-bottom: 2rem;
}
.title__car{
    font-size: 2rem;
}
/* ---------- end web title ---------- */


/* ---------- SLIDER SWIPERJS --------- */  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.swiper {
    /* width: 100%;
    height: 300px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
.swiper-slide {
    background-size: cover;
    background-position: center;
}
  
.mySwiper2 {
    /* 
    height: 80%;
    width: 100%; */
    height: 80%;
    width: 100%;
}
  
.mySwiper {
    /* height: 20%; */
    height: 15%;
    box-sizing: border-box;
    padding: 10px 0;
}
  
.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
  
.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* END SLIDER SWIPERJS */



/* slider box manual */
/* .principal__slider{
    display: block;
    width: 100%;
}

.slider__cover{
    display: block;
    width: 100%;
}

.cover__img{
    width: 100%;
}

.slider__miniatures{
    margin-top: 5px;
    display: inline-block;
    margin-bottom: 50px;
}

.link__mini {
    width: 122px;
}

.miniatures__group{
    background-color: #4a4a4a;
    color: white;
    text-decoration: none;
    padding: 31px 85px;
    display: block;
    float: right;
    margin-left: 5px;
}
*/
/* end slider box manual */


/* SLIDER TEXT */
.slider__text{
    font-size: 17px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}


/* SLIDER INFO */
.slider__info{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 15rem;
}

.info__list{
    float: left;
    width: 290px;
}

.list__span{
    font-weight: bold;
}


/* FICHA TÉCNICA */
.technical{
    font-size: 1.7rem;
    text-align: center;
    margin-top: -2rem;
    margin-bottom: 1rem;
}


/* TABS CONTENT FICHA TÉCNICA */
.module__tabs{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 10px;
    padding: 20px 0;
    text-align: center;
}

.module__tabs a:focus{
    color: black;
}

.module__tabs li a{
    text-decoration: none;
    /* color: black; */
}


/* TAB CONTENT - CARROCERIA */
.content__bodywork {
    display: flex;
    flex-wrap: wrap;
    justify-content:end;
    width: 100%;
}

.content__bodywork li{
    list-style: none;
    font-size: 1rem;
}

.bodywork__li{
    text-decoration: none;
    width: 50%;
}

.li__measures{
    font-size: 1.2rem;
}

.li__length{
    position: relative;
    border-top: 1px dotted #ccc;
    width: 7.3rem;
    right: 12.7rem;
    top: 3rem;
}

.li__width{
    border-top: 1px dotted #ccc;
    display: flex;
    width: 7.7rem;
    margin-top: 0.6rem;
    margin-left: 8.5rem;
}

.li__high{
    position: relative;
    top: -4.3rem;
    left: 13.5rem;
    border-left: 1px dotted #ccc;
    padding-left: 0.5rem;
}

.li__bodywork{
    font-weight: bold;
    margin-left: 14rem;
}

.bodiwork__li--weight{
    position: relative;
    top: -16rem;
}

.li__weight{
    font-weight: bold;
    margin-left: 4.5rem;
}

.bodywork__li--batalla{
    padding-top: 2rem;
}

.li__batalla{
    font-weight: bold;
    margin-left: 12rem;
}

.bodywork__li--large{
    padding-top: 2rem;
}

.li__large{
    font-weight: bold;
    margin-left: 11rem;
}

.bodywork__li--doors{
    padding-top: 3.3rem;
}

.li__doors{
    font-weight: bold;
    margin-left: 9.7rem;
}

.bodywork__li--seats{
    padding-top: 3.3rem;
}

.li__seats{
    font-weight: bold;
    margin-left: 11.8rem;
}

.bodywork__li--trunk{
    padding-top: 3.3rem;
}

.li__trunk{
    font-weight: bold;
    margin-left: 6.8rem;
}

.bodywork__li--trunkmax{
    padding-top: 3.3rem;
}

.li__trunkmax{
    font-weight: bold;
    margin-left: 4.3rem;
}


/* TAB CONTENT - MOTOR */
.content__motor{
    display: flex;
    flex-wrap: wrap;
}

.content__motor li{
    list-style: none;
    font-size: 1rem;
}

.content__motor li a{
    margin: 0;
    padding: 0;
}

.motor__li{
    width: 50%;
    padding-bottom: 3rem;
}

.li__combustible{
    padding-left: 6rem;
    font-weight: bold;
}

.li__cilindros{
    padding-left: 8rem;
    font-weight: bold;
}

.li__cilindrada{
    padding-left: 8.5rem;
    font-weight: bold;
}

.li__sobrealimentacion{
    padding-left: 8.7rem;
    font-weight: bold;
}


/* TAB CONTENT - TRANSMISIÓN */
.content__transmision{
    display: flex;
    flex-wrap: wrap;
}

.content__transmision li{
    list-style: none;
    font-size: 1rem;
}

.content__transmision li a{
    margin: 0;
    padding: 0;
}

.transmision__li{
    width: 50%;
    padding-bottom: 3rem;
}

.li__valvulas{
    padding-left: 7rem;
    font-weight: bold;
}

.transmision__li--transmision{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.li__transmision{
    display: flex;
    width: 50%;
    padding-left: 5.3rem;
    font-weight: bold;
    
}

.transmision__li--traccion{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.li__traccion{
    padding-left: 6rem;
    font-weight: bold;
}

.li__marchas{
    padding-left: 8rem;
    font-weight: bold;
}


/* TAB CONTENT - PRESTACIONES */
.content__prestaciones{
    display: flex;
    flex-wrap: wrap;
}

.content__prestaciones li{
    list-style: none;
    font-size: 1rem;
}

.content__prestaciones li a{
    margin: 0;
    padding: 0;
}

.prestaciones__li{
    width: 50%;
    padding-bottom: 3rem;
}

.li__kw{
    padding-left: 11rem;
    font-weight: bold;
}

.li__cv{
    padding-left: 12rem;
    font-weight: bold;
}

.li__par{
    padding-left: 13.3rem;
    font-weight: bold;
    
}

.li__velocidadmax{
    padding-left: 6.3rem;
    font-weight: bold;
}

.li__aceleracion{
    padding-left: 5rem;
    font-weight: bold;
}


/* TAB CONTENT - CONSUMOS Y EMISIONES */
.content__consumosyemisiones{
    display: flex;
    flex-wrap: wrap;
}

.content__consumosyemisiones li{
    list-style: none;
    font-size: 1rem;
}

.content__consumosyemisiones li a{
    margin: 0;
    padding: 0;
}

.consumosyemisiones__li{
    width: 50%;
    padding-bottom: 3rem;
}

.li__deposito{
    padding-left: 5.5rem;
    font-weight: bold;
}

.li__urbano{
    padding-left: 7.3rem;
    font-weight: bold;
}

.li__carretera{
    padding-left: 7rem;
    font-weight: bold;
    
}

.li__medio{
    padding-left: 8rem;
    font-weight: bold;
}

.li__co2{
    padding-left: 13.7rem;
    font-weight: bold;
}
/* END TABS CONTENTS FICHA TÉCNICA */


/* EQUIPAMIENTO */
.equipamiento{
    font-size: 1.7rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}


/* TAB CONTENT - MULTIMEDIA Y AUDIO */
.content__multimedia li{
    list-style: none;
    font-size: 1rem;
    padding-bottom: 3rem;
}

.content__multimedia li a{
    margin: 0;
    padding: 0;
}

.li__usb{
    padding-left: 39.7rem;
    font-weight: bold;
}

.li__voz{
    padding-left: 39.1em;
    font-weight: bold;
}

.li__pantalla1{
    padding-left: 38.4rem;
    font-weight: bold;
}

.li__wifi{
    padding-left: 30.2rem;
    font-weight: bold;
}

.li__sonido{
    padding-left: 30.5rem;
    font-weight: bold;
}

.li__conectividad{
    display: block;
    padding-left: 12.8rem;
    font-weight: bold;
}

.multimedia__li--conectividad{
    display: flex;
    max-width: 96.75%;
}

.li__pantalla2{
    padding-left: 38.2rem;
    font-weight: bold;
}

.li__autopilot1{
    margin-left: 12.2rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__autopilot1--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}


/* TAB CONTENT - CONFORT */
.content__confort li{
    list-style: none;
    font-size: 1rem;
    padding-bottom: 3rem;
}

.content__confort li a{
    margin: 0;
    padding: 0;
}

.li__direccion{
    padding-left: 30rem;
    font-weight: bold;
}

.li__espejos1{
    padding-left: 30.4rem;
    font-weight: bold;
}

.li__espejos2{
    padding-left: 30rem;
    font-weight: bold;
}

.li__asientos1{
    padding-left: 19.6rem;
    font-weight: bold;
}

.li__asientos2{
    padding-left: 29.7rem;
    font-weight: bold;
}

.li__cierre{
    padding-left: 37.5rem;
    font-weight: bold;
}

.li__climatizador{
    padding-left: 35.2rem;
    font-weight: bold;
}

.li__espejos3{
    padding-left: 25.1rem;
    font-weight: bold;
}

.li__espejos4{
    padding-left: 26rem;
    font-weight: bold;
}

.li__interior1{
    margin-left: 33.4rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__interior1--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__pedales{
    padding-left: 36.3rem;
    font-weight: bold;
}

.li__acceso{
    padding-left: 19.6rem;
    font-weight: bold;
}

.li__techo{
    padding-left: 17.2rem;
    font-weight: bold;
}

.li__interior2{
    margin-left: 29.2rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__interior2--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__interior3{
    margin-left: 26.7rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__interior3--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

/* TAB CONTENT - SEGURIDAD */
.content__seguridad li{
    list-style: none;
    font-size: 1rem;
    padding-bottom: 3rem;
}

.content__seguridad li a{
    margin: 0;
    padding: 0;
}

.li__airbag1{
    padding-left: 34.9rem;
    font-weight: bold;
}

.li__airbag2{
    padding-left: 35.6rem;
    font-weight: bold;
}

.li__airbag3{
    padding-left: 27.7em;
    font-weight: bold;
}

.li__airbag4{
    padding-left: 33.2rem;
    font-weight: bold;
}

.li__antibloqueo{
    padding-left: 33.1rem;
    font-weight: bold;
}

.li__estabilidad{
    padding-left: 35.9rem;
    font-weight: bold;
}

.li__faros{
    padding-left: 36.6rem;
    font-weight: bold;
}

.seguridad__li--autopilot2{
    float: left;
}

.li__autopilot2{
    float: left;
    width: 69.3%;
}

.li__autopilot2--opcional{
    margin-left: 5rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__autopilot2--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__camaras{
    padding-left: 35.7rem;
    font-weight: bold;
}

.li__autopilot3{
    margin-left: 32.6rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__autopilot3--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__fullselfdriving{
    margin-left: 27.5rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__fullselfdriving--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

/* TAB CONTENT - ACABADO INTERIOR Y EXTERIOR */
.content__acabado li{
    list-style: none;
    font-size: 1rem;
    padding-bottom: 3rem;
}

.content__acabado li a{
    margin: 0;
    padding: 0;
}

.li__metalizada{
    margin-left: 31.1rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__metalizada--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__multicapa1{
    margin-left: 31.3rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__multicapa1--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__asiento{
    padding-left: 31.5rem;
    font-weight: bold;
}

.li__solida{
    margin-left: 33.3rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__solida--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__llantas1{
    margin-left: 22.8rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__llantas1--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__llantas2{
    padding-left: 25.6rem;
    font-weight: bold;
}

.li__spoiler{
    padding-left: 38.5rem;
    font-weight: bold;
    
}

.li__llantas3{
    margin-left: 24.6rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__llantas3--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__llantas4{
    margin-left: 24.6rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__llantas4--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__llantas5{
    margin-left: 24.6rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__llantas5--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__decoracion{
    padding-left: 31.4rem;
    font-weight: bold;
}


.acabado__li--consola{
    display: flex;
    width: 95.8%;
}

.li__consola{
    padding-left: 14rem;
    font-weight: bold;
}

.li__multicapa2{
    margin-left: 28.5rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__multicapa2--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__multicapa3{
    margin-left: 24.8rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__multicapa3--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__llantas6{
    margin-left: 21.6rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__llantas6--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__llantas7{
    margin-left: 22.4rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__llantas7--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__llantas8{
    margin-left: 21.7rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__llantas8--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__llantas9{
    margin-left: 22.4rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__llantas9--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__llantas10{
    margin-left: 21.7rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__llantas10--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}

.li__llantas11{
    margin-left: 22.4rem;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__llantas11--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}



/* TAB CONTENT - OTROS */
.content__otros li{
    list-style: none;
    font-size: 1rem;
    padding-bottom: 3rem;
}

.content__otros li a{
    margin: 0;
    padding: 0;
}


.li__paquete{
    padding-left: 36.2rem;
    font-weight: bold;
}

.li__brake{
    padding-left: 33.3rem;
    font-weight: bold;
}

.li__tow{
    margin-left: 34em;
    font-weight: bold;
    color: #468847;
    border: 1px solid #468847;
    border-radius: 3px;
    padding: 0.2rem;
}

.li__tow--precio{
    padding-left: 0.5rem;
    font-weight: bold;
}
/* END TABS CONTENTS EQUIPAMIENTO */

/* FICHAS TÉCNICAS DE COCHES */
.module__tecnicas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.7rem;
}

.tecnicas__fichas{
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1rem;
}

/* BUSCADOR FICHAS TÉCNICAS COCHES */
.module__buscador{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.buscador__marca{

}

.marca__button{
    width: 12rem;
}

.dropdown-menu{
    overflow: scroll;
    width: 12rem;
    height: 13.5rem;
}

.dropdown-menu li a:hover{
    background-color: #0269AF;
    color: white;
}

.buscador__modelo{

}

.modelo__button{
    width: 12rem;
}

.buscador__year{

}

.btn-secondary{
    width: 12rem;
    background-color:white;
    color: black;
}

.btn-secondary:hover{
    background-color:white;
    color: black;
}

.buscar__button{
    width: 12rem;
    height: 2.4rem;
    border-radius: 0.2em;
}

.buscar__button:hover{
    background-color: black;
    color: white;
}




/* ANUNCIOS COCHES SEGUNDA MANO */
.module__usados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.7rem;
}

.usados__subtitulo{
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1rem;
}

.module__usados--coches{
    display: flex;
    justify-content: space-around;
}

.usados__coches{
    width: 23%;
}

.coches__usados--enlace{
    color: #0269ae;
    font-weight: bold;
    text-decoration: none;
}

.usados__img{
    width: 100%;
    margin-bottom: 1rem;
}

.coches__usados--year{
    list-style: none;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 1rem;
}

.coches__usados--year li{
    font-weight: 400;
}

.coches__usados--year li span{
    font-weight: bold;
}

.coches__usados--precio{
    margin-top: 2rem;
    color: black;
    font-size: 1.7rem;
}

.informacion__button{
    width: 12rem;
    height: 2.4rem;
    color: #f44336;
    font-weight: bold;
    border-radius: 0.2em;
    border-color: #f44336;
}

.informacion__button:hover{
    color: black;
    border-color: black;
}

.usados__ofertas{
    text-align: center;
    margin-top: 2rem;
}

.usados__ofertas a{
    color: #0269ae;
    text-decoration: none;
}

.usados__ofertas a:hover{
    text-decoration: underline;
}
/* END ANUNCIOS COCHES SEGUNDA MANO */

/* ANUNCIOS COCHES NUEVOS */
.module__nuevos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.7rem;
}

/* .module__nuevos::after{
    display: block;
    margin: 2rem auto auto auto;
    content: " ";
    width: 20rem;
    border-bottom: 1px solid black;
} */

.nuevos__subtitulo{
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1rem;
}

.module__nuevos--coches{
    display: flex;
    justify-content: space-around;
}

.nuevos__coches{
    width: 23%;
}

.coches__nuevos--enlace{
    color: #0269ae;
    font-weight: bold;
    text-decoration: none;
}

.nuevos__img{
    width: 100%;
    margin-bottom: 1rem;
}

.coches__nuevos{
    list-style: none;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 1rem;
}

.coches__nuevos li{
    font-weight: 400;
}

.coches__nuevos li span{
    font-weight: bold;
}

.coches__nuevos--precio{
    margin-top: 2rem;
    color: black;
    font-size: 1.7rem;
}


.nuevos__ofertas{
    text-align: center;
    margin-top: 2rem;
}

.nuevos__ofertas a{
    color: #0269ae;
    text-decoration: none;
}

.nuevos__ofertas a:hover{
    text-decoration: underline;
}
/* END ANUNCIOS COCHES SEGUNDA MANO */

/* NOTICIAS, PRUEBAS Y NOVEDADES */
.module__novedades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.7rem;
}

.module__novedades::after{
    display: block;
    content: " ";
    width: 15rem;
    margin-top: 2rem;
    border-bottom: 1px solid black;
}

.novedades__ver{
    text-align: center;
    margin-top: 2rem;
}

.novedades__ver a{
    color: #0269ae;
    text-decoration: none;
}

.novedades__ver a:hover{
    text-decoration: underline;
}

/* END NOTICIAS, PRUEBAS Y NOVEDADES */



/* ---------- CONTACT FORM ---------- */
.module__contact{
    border: 1px solid lightgray;
    width: 27rem;
    height: 44rem;
    margin-left: 3rem;
    padding: 3.5rem;
    box-shadow: 10px 10px 10px grey;
}

.right__module{
    width: 100%;
    /* margin-left: 3rem; */
}

.required{
    color: red;
    font-weight: bold;
}

.contact__phone{
    color: #0269ae;
    font-weight: bold;
}

.form__email--label{
    margin-bottom: 0.6rem;
}

.form__email--input{
    margin-bottom: 1rem;
}

.form__name--label{
    margin-bottom: 0.6rem;
}
.form__name--input{
    margin-bottom: 1rem;
}

.form__phone--label{
    margin-bottom: 0.6rem;
}
.form__phone--input{
    margin-bottom: 1rem;
}

.form__postal--label{
    margin-bottom: 0.6rem;

}
.form__postal--input{
    margin-bottom: 1rem;
}

.form__select--label{
    margin-bottom: 0.6rem;
}

.privacity{
    margin-top: 1rem;
    font-size: 0.9rem;
}

.btn-primary{
    width: 20rem;
}
/* ---------- END CONTACT FORM ---------- */




/*
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */

@media screen and (max-width: 1399.98px) {
    

}


@media screen and (max-width: 1199.98px) {

}


@media screen and (max-width: 991.98px) {

}


@media screen and (max-width: 767.98px) {

}


@media screen and (max-width:575.98px){
    .container__left{
        width: 100%;
    }
    
    .module__tabs, .content__bodywork, .content__motor, .content__transmision, .content__prestaciones, .content__consumosyemisiones{
        flex-direction: column;
    }

    .multimedia__li{
        margin-bottom: -2rem;
    }

    .li__usb{
        padding-left: 20rem;
    }

    .li__voz{
        padding-left: 19.5rem;
    }

    .li__pantalla1{
        padding-left: 18.8rem;
    }

    .li__wifi{
        padding-left: 10.7rem;
    }

    .li__sonido{
        padding-left: 11rem;
    }

    .multimedia__li--conectividad{
        width: 92.7%;
    }

    .li__conectividad{
        padding-left: 7rem;
    }

    .li__pantalla2{
        padding-left: 18.9rem;
    }

    .multimedia__li--autopilot1{
        width: 80%;
    }

    .li__autopilot1{
        margin-left: 30rem;
    }

    .container__right{
        margin: 0 auto;
    } 
}