*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Open Sans,Trebuchet,Helvetica,sans-serif;
}

/* ---------- navbar ---------- */
.nav-link{
    /* color: white; */
    text-decoration: none;
}

/* .nav-link:hover{
    background-color: white;
    color:darkred;
    border: white;
} */

.btn-danger{
    border-radius: inherit;
    font-size: 1rem;
    height: 3.5rem;
}

.btn-danger:hover{
    color: darkred;
    background-color: transparent;
    border-color: transparent;
}

.favorites__icon{
    color: #757575;
    margin-left: 0.5rem;
}
.favorites__icon:hover{
    color: black;
}

.user__icon{
    color: #757575;
    margin-left: 3rem;
}
.user__icon:hover{
    color: black;
}
/* ---------- end navbar ---------- */

.container{
    display: flex;
}

/* ---------- breadcrumb ---------- */
.breadcrumb{
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.breadcrumb-item a{
    color: #0269ae;
    font-size: 0.8rem;
    text-decoration: none;
}
/* ---------- end breadcrumb ---------- */


/* ---------- web title ---------- */
.container__title{   
    margin-bottom: 2rem;
}
.title__car{
    font-size: 2rem;
}
/* ---------- end web title ---------- */









/* ---------- SLIDER SWIPERJS --------- */  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.swiper {
    /* width: 100%;
    height: 300px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
.swiper-slide {
    background-size: cover;
    background-position: center;
}
  
.mySwiper2 {
    /* 
    height: 80%;
    width: 100%; */
    height: 80%;
    width: 100%;
}
  
.mySwiper {
    /* height: 20%; */
    height: 15%;
    box-sizing: border-box;
    padding: 10px 0;
}
  
.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
  
.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* END SLIDER SWIPERJS */









/* slider__box */
/* .principal__slider{
    display: block;
    width: 100%;
}

.slider__cover{
    display: block;
    width: 100%;
}

.cover__img{
    width: 100%;
}

.slider__miniatures{
    margin-top: 5px;
    display: inline-block;
    margin-bottom: 50px;
}

.link__mini {
    width: 122px;
}

.miniatures__group{
    background-color: #4a4a4a;
    color: white;
    text-decoration: none;
    padding: 31px 85px;
    display: block;
    float: right;
    margin-left: 5px;
}
*/
/* end__slider__box */



.slider__text{
    font-size: 17px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.slider__info{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 15rem;
}

.info__list{
    float: left;
    width: 290px;
}

.list__span{
    font-weight: bold;
}


/* FICHA TÉCNICA */
.technical{
    font-size: 1.7rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* TABS FICHA TÉCNICA */
.module__tabs{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 10px;
    padding: 20px 0;
    text-align: center;
}

.module__tabs a:focus{
    color: black;
}

.module__tabs li a{
    text-decoration: none;
    /* color: black; */
}

/* .tabs__bodywork{
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
} */


/* .tabs__motor{
    border-bottom: 1px solid black;
}

.tabs__transmission{
    border-bottom: 1px solid black;
}

.tabs__performance{
    border-bottom: 1px solid black;
}

.tabs__efficiency{
    border-bottom: 1px solid black;
}

.empty{
    border-bottom: 1px solid black;
} */

/* TAB CONTENT - CARROCERIA */
.content__bodywork {
    display: flex;
    flex-wrap: wrap;
    justify-content:end;
    width: 100%;
}

.content__bodywork li{
    list-style: none;
    font-size: 1rem;
}

.bodywork__li{
    text-decoration: none;
    width: 50%;
}

.li__measures{
    font-size: 1.2rem;
}

.li__length{
    position: relative;
    border-top: 1px dotted #ccc;
    width: 7.3rem;
    right: 12.7rem;
    top: 3rem;
}

.li__width{
    border-top: 1px dotted #ccc;
    display: flex;
    width: 7.7rem;
    margin-top: 0.6rem;
    margin-left: 8.5rem;
}

.li__high{
    position: relative;
    top: -4.3rem;
    left: 13.5rem;
    border-left: 1px dotted #ccc;
    padding-left: 0.5rem;
}

.li__bodywork{
    font-weight: bold;
    margin-left: 14rem;
}

.bodiwork__li--weight{
    position: relative;
    top: -16rem;
}

.li__weight{
    font-weight: bold;
    margin-left: 4.5rem;
}

.bodywork__li--batalla{
    padding-top: 2rem;
}

.li__batalla{
    font-weight: bold;
    margin-left: 12rem;
}

.bodywork__li--large{
    padding-top: 2rem;
}

.li__large{
    font-weight: bold;
    margin-left: 11rem;
}

.bodywork__li--doors{
    padding-top: 3.3rem;
}

.li__doors{
    font-weight: bold;
    margin-left: 9.7rem;
}

.bodywork__li--seats{
    padding-top: 3.3rem;
}

.li__seats{
    font-weight: bold;
    margin-left: 11.8rem;
}

.bodywork__li--trunk{
    padding-top: 3.3rem;
}

.li__trunk{
    font-weight: bold;
    margin-left: 6.8rem;
}

.bodywork__li--trunkmax{
    padding-top: 3.3rem;
}

.li__trunkmax{
    font-weight: bold;
    margin-left: 4.3rem;
}

/* TAB CONTENT - MOTOR */
.content__motor{
    display: flex;
    flex-wrap: wrap;
}

.content__motor li{
    list-style: none;
    font-size: 1rem;
}

.content__motor li a{
    margin: 0;
    padding: 0;
}

.motor__li{
    width: 50%;
    padding-bottom: 3rem;
}

.li__combustible{
    padding-left: 3.5rem;
    font-weight: bold;
}

.li__cilindros{
    padding-left: 6rem;
    font-weight: bold;
}

.li__cilindrada{
    padding-left: 6rem;
    font-weight: bold;
}

.li__sobrealimentacion{
    padding-left: 6.8rem;
    font-weight: bold;
}


/* TAB CONTENT - TRANSMISIÓN */
.content__transmision{
    display: flex;
    flex-wrap: wrap;
}

.content__transmision li{
    list-style: none;
    font-size: 1rem;
}

.content__transmision li a{
    margin: 0;
    padding: 0;
}

.transmision__li{
    width: 50%;
    padding-bottom: 3rem;
}

.li__valvulas{
    padding-left: 4.5rem;
    font-weight: bold;
}

.transmision__li--transmision{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.li__transmision{
    display: flex;
    width: 50%;
    padding-left: 3rem;
    font-weight: bold;
    
}

.transmision__li--traccion{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.li__traccion{
    padding-left: 2.5rem;
    font-weight: bold;
}

.li__marchas{
    padding-left: 6rem;
    font-weight: bold;
}

/* TAB CONTENT - PRESTACIONES */
.content__prestaciones{
    display: flex;
    flex-wrap: wrap;
}

.content__prestaciones li{
    list-style: none;
    font-size: 1rem;
}

.content__prestaciones li a{
    margin: 0;
    padding: 0;
}

.prestaciones__li{
    width: 50%;
    padding-bottom: 3rem;
}

.li__kw{
    padding-left: 11rem;
    font-weight: bold;
}

.li__cv{
    padding-left: 12rem;
    font-weight: bold;
}

.li__par{
    padding-left: 13.3rem;
    font-weight: bold;
    
}

.li__velocidadmax{
    padding-left: 6.3rem;
    font-weight: bold;
}

.li__aceleracion{
    padding-left: 5rem;
    font-weight: bold;
}

/* TAB CONTENT - CONSUMOS Y EMISIONES */
.content__consumosyemisiones{
    display: flex;
    flex-wrap: wrap;
}

.content__consumosyemisiones li{
    list-style: none;
    font-size: 1rem;
}

.content__consumosyemisiones li a{
    margin: 0;
    padding: 0;
}

.consumosyemisiones__li{
    width: 50%;
    padding-bottom: 3rem;
}

.li__deposito{
    padding-left: 5.5rem;
    font-weight: bold;
}

.li__urbano{
    padding-left: 7.3rem;
    font-weight: bold;
}

.li__carretera{
    padding-left: 7rem;
    font-weight: bold;
    
}

.li__medio{
    padding-left: 8rem;
    font-weight: bold;
}

.li__co2{
    padding-left: 13.7rem;
    font-weight: bold;
}
/* END TABS CONTENTS */

/* ---------- CONTACT FORM ---------- */
.module__contact{
    border: 1px solid lightgray;
    width: 27rem;
    height: 44rem;
    margin-left: 3rem;
    padding: 3.5rem;
    box-shadow: 10px 10px 10px grey;
}

.right__module{
    width: 100%;
    /* margin-left: 3rem; */
}

.required{
    color: red;
    font-weight: bold;
}

.contact__phone{
    color: #0269ae;
    font-weight: bold;
}

.form__email--label{
    margin-bottom: 0.6rem;
}

.form__email--input{
    margin-bottom: 1rem;
}

.form__name--label{
    margin-bottom: 0.6rem;
}
.form__name--input{
    margin-bottom: 1rem;
}

.form__phone--label{
    margin-bottom: 0.6rem;
}
.form__phone--input{
    margin-bottom: 1rem;
}

.form__postal--label{
    margin-bottom: 0.6rem;

}
.form__postal--input{
    margin-bottom: 1rem;
}

.form__select--label{
    margin-bottom: 0.6rem;
}

.privacity{
    margin-top: 1rem;
    font-size: 0.9rem;
}

.btn-primary{
    width: 20rem;
}
/* ---------- END CONTACT FORM ---------- */




/*
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */

@media (max-width: 1399.98px) {
    

 }




@media (max-width:575.98px){
    .mySwiper2{
        width: 100%;
    }
    
    .swiper{
        width: 100%;
    }
}